{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    
    {% block title %}
    <title>fenil</title>
    {% endblock title %}
    
    {% block meta_tags %}{% endblock meta_tags %}


    <!-- Bootstrap core CSS -->
    
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Bootstrap core js -->
    <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>


    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="{% static 'assets/css/fontawesome.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/templatemo-edu-meeting.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/owl.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/lightbox.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/flex-slider.css' %}">

    <!--
    {% comment %} Additional javascript Files {% endcomment %}
    <script src="{% static 'assets/js/custom.js' %}"></script>
    <script src="{% static 'assets/js/isotope.js' %}"></script>
    <script src="{% static 'assets/js/isotope.min.js' %}"></script>
    <script src="{% static 'assets/js/lightbox.js' %}"></script>
    <script src="{% static 'assets/js/owl-carousel.js' %}"></script>
    <script src="{% static 'assets/js/slick-slider.js' %}"></script>
    <script src="{% static 'assets/js/tabs.js' %}"></script>
    <script src="{% static 'assets/js/video.js' %}"></script>

    {% comment %} Additional jquery file  {% endcomment %}
    <script src="{% static 'vendor/jquery/jquery.js' %}"></script>
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/jquery/jquery.slim.js' %}"></script>
    <script src="{% static 'vendor/jquery/jquery.slim.min.js' %}"></script>
    -->

    
<body>
    {% comment %} 
    <div class="sub-header">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 col-sm-8">
              <div class="left-content">
                <p>This is an educational <em>HTML CSS</em> template by TemplateMo website.</p>
              </div>
            </div>
            <div class="col-lg-4 col-sm-4">
              <div class="right-icons">
                <ul>
                  <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                  <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="#"><i class="fa fa-behance"></i></a></li>
                  <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
       {% endcomment %}



    <section class="section main-banner" id="top" data-section="section1">
        <video autoplay muted loop id="bg-video">
          <source src="{%static 'assets/images/course-video.mp4' %}" type="video/mp4"></source>
      </video>
    
          <div class="video-overlay header-text">
              <div class="container">
                <div class="row">
                  <div class="col-lg-12">
                    <div class="caption">
                  <h6>Hello Students</h6>
                  <h2>Welcome to Education Management System</h2>
                  <p>This is home page of an e-campus management system HTML CSS template create by Fenil Shah</p>
                  <div class="main-button-red">
                      <div class="scroll-to-section"><a href="#contact">Join Us Now!</a></div>
                  </div>
              </div>
                  </div>
                </div>
              </div>
          </div>
      </section>

      
    {% block content %}
   
    {% endblock content %}
    
</body>
</html>
